#marco{

    border: 2px solid black;
    width: 30%;
    height: 60px;
    margin:0 auto;
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-wrap: break-word;


}